<div class="container">
  <div class="toolbar">
    <button mat-flat-button color="primary" (click)="openDialog()">Nowa rezerwacja</button>
    <mat-form-field class="full-width">
      <mat-label>Filtruj</mat-label>
      <input matInput (keyup)="applyFilter($event)"/>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Imię i Nazwisko</th>
      <td mat-cell *matCellDef="let element">{{ element.fullName | uppercase }}</td>
    </ng-container>

    <ng-container matColumnDef="flightNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Numer lotu</th>
      <td mat-cell *matCellDef="let element">{{ element.flightNumber | uppercase }}</td>
    </ng-container>

    <ng-container matColumnDef="departureDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Wylot</th>
      <td mat-cell *matCellDef="let element">{{ element.departureDate | date : "dd-MM-YYYY hh:mm" }}</td>
    </ng-container>

    <ng-container matColumnDef="arrivalDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Przylot</th>
      <td mat-cell *matCellDef="let element">{{ element.arrivalDate | date : "dd-MM-YYYY hh:mm" }}</td>
    </ng-container>

    <ng-container matColumnDef="ticketType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Typ biletu</th>
      <td mat-cell *matCellDef="let element">{{ element.ticketType | ticketType }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>
        <ng-container>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item
                    confirm
                    (confirmed)="deleteAllItems()"
                    dialogTitle="Wyczyszczenie danych o rezerwacjach"
                    message="Czy na pewno chcesz usunąć dane o wszystkich rezerwacjach?"
                    [isWarn]="true"
            >
              <mat-icon>delete</mat-icon>
              Wyczyść dane
            </button>
          </mat-menu>
        </ng-container>
      </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="openDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button
                color="warn"
                confirm
                (confirmed)="deleteItem(element.id)"
                dialogTitle="Usunięcie rezerwacji"
                message="Czy na pewno chcesz usunąć rezerwacje?"
                [isWarn]="true"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row center-text" *matNoDataRow>
      <td class="mat-cell empty-text" colspan="7">
        @if (dataSource.filter === '') {
          Brak danych
        } @else {
          Brak danych pasujących do frazy: {{ dataSource.filter }}
        }
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
