.container {
  margin: 8px;

  .toolbar {
    display: flex;
    gap: 8px;
    flex-direction: column;
    margin-top: 8px;
  }

  .full-width {
    width: 100%;
  }

  .center-text {
    text-align: center;
  }

  .empty-text{
    line-height: 2;
    font-weight: bold;
    font-size: 18px;
  }
}
